<div class="main-area-wrapper" style="background-image:url(/assets/photo.png); height: 100vh;">
    <div class="main-area center-text" >

      <div class="display-table">
        <div class="display-table-cell">

          <h1 class="title"><b>Encore un peu de patience...</b></h1>
          <p class="desc font-white">Nos équipes travaillent actuellement sur la plateforme Autisme Info Service, elle sera prête prochainement. </p>
          </br>
          <div id="normal-countdown" data-date="2019/04/02"></div>
          <ul class="social-btn">
            <li class="list-heading">Suivez nous sur</li>

            <li><a href="https://twitter.com/AutismeService" target="_blank"><i class="fa fa-twitter"></i></a></li>
          </ul>
          <img src="/assets/logo.png" alt="" style="width: 400px;">
        </br>
          <a class="notify-btn" href="mailto: marion.lavergne@autismeinfoservice.fr"><b>Nous contacter</b></a>
        </div><!-- display-table -->
      </div><!-- display-table-cell -->
    </div><!-- main-area -->
  </div><!-- main-area-wrapper -->
  <script src="/assets/jquery-3.1.1.min.js"></script>
  <script src="/assets/jquery.countdown.min.js"></script>
  <script src="/assets/scripts.js"></script>
