<div class="main-area-wrapper" style="background-image:url(/assets/photo.png); height: 100vh;">
    <div class=" center-text" >
      <div class="display-table">
        <div class="display-table-cell">
          <h1 class="title"><b>Encore un peu de patience...</b></h1>
        </br>
          <p class="desc font-black">Notre site internet est en cours de construction et ouvrira au printemps. </p>
          </br>
          <img src="/assets/logo.png" alt="" style="width: 400px;">
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          <p class="desc font-black">Nous vous attendons dans notre boutique au : </br>42 rue Vivienne </br> 75002 Paris </br>Tél +33 1 86 95 70 70 </p>
          </br>
          <a class="btn btn-secondary" href="mailto: contact@galeriedelabourse.com "><b>Nous contacter</b></a>
        </div><!-- display-table -->
      </div><!-- display-table-cell -->
    </div><!-- main-area -->
  </div><!-- main-area-wrapper -->
  <script src="/assets/jquery-3.1.1.min.js"></script>
  <script src="/assets/jquery.countdown.min.js"></script>
  <script src="/assets/scripts.js"></script>
